@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    box-sizing: border-box;
    font-family: 'work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.container-header{
    background: #020202;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.container-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteonus';
    font-size: 36px;
    color: #1cb698;
    text-decoration: none;
}
